body{
  background-color: #0075c4;
}


h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
  font-size: 40px;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.heading{
  text-align: center;
}

img{
  border-radius: 80px;
}
h3{
  font-style: italic;
  font-size: 30px;
}
h4{
  font-style: italic;
  font-size: 30px;
}
